# Desafio Ifood: Análise exploratória de dados

O conjunto de dados é composto por clientes da empresa Ifood com dados sobre:

* Perfis de clientes
* Preferências do produto
* Sucesso/fracassos da campanha
* Desempenho do canal

O objetivo de hoje é fazer uma análise exploratória desses dados.

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [3]:
#Lendo os dados

dataframe = pd.read_csv('mkt_data.csv')

dataframe

,Unnamed: 0,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,...,education_Graduation,education_Master,education_PhD,MntTotal,MntRegularProds,AcceptedCmpOverall,marital_status,education_level,kids,expenses
0,0,58138.0,0,0,58,635,88,546,172,88,...,3.0,NaN,NaN,1529,1441,0,Single,Graduation,0,1529
1,1,46344.0,1,1,38,11,1,6,2,1,...,3.0,NaN,NaN,21,15,0,Single,Graduation,2,21
2,2,71613.0,0,0,26,426,49,127,111,21,...,3.0,NaN,NaN,734,692,0,Together,Graduation,0,734
3,3,26646.0,1,0,26,11,4,20,10,3,...,3.0,NaN,NaN,48,43,0,Together,Graduation,1,48
4,4,58293.0,1,0,94,173,43,118,46,27,...,NaN,NaN,5.0,407,392,0,Married,PhD,1,407
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2200,2200,61223.0,0,1,46,709,43,182,42,118,...,3.0,NaN,NaN,1094,847,0,Married,Graduation,1,1094
2201,2201,64014.0,2,1,56,406,0,30,0,0,...,NaN,NaN,5.0,436,428,1,Together,PhD,3,436
2202,2202,56981.0,0,0,91,908,48,217,32,12,...,3.0,NaN,NaN,1217,1193,1,Divorced,Graduation,0,1217
2203,2203,69245.0,0,1,8,428,30,214,80,30,...,NaN,4.0,NaN,782,721,0,Together,Master,1,782
2204,2204,52869.0,1,1,40,84,3,61,2,1,...,NaN,NaN,5.0,151,130,0,Married,PhD,2,151

In [4]:
#Verificando as primeiras informações, nós temos 2205 linhas e 44 colunas
#As colunas numéricas são todas exceto marital_status e education_level

dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2205 entries, 0 to 2204
Data columns (total 44 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            2205 non-null   int64
 1   Income                2205 non-null   float64
 2   Kidhome               2205 non-null   int64
 3   Teenhome              2205 non-null   int64
 4   Recency               2205 non-null   int64
 5   MntWines              2205 non-null   int64
 6   MntFruits             2205 non-null   int64
 7   MntMeatProducts       2205 non-null   int64
 8   MntFishProducts       2205 non-null   int64
 9   MntSweetProducts      2205 non-null   int64
 10  MntGoldProds          2205 non-null   int64
 11  NumDealsPurchases     2205 non-null   int64
 12  NumWebPurchases       2205 non-null   int64
 13  NumCatalogPurchases   2205 non-null   int64
 14  NumStorePurchases     2205 non-null   int64
 15  NumWebVisitsMonth     2205 non-null   int64
 16  AcceptedCmp3          2205 non-null   int64
 17  AcceptedCmp4          2205 non-null   int64
 18  AcceptedCmp5          2205 non-null   int64
 19  AcceptedCmp1          2205 non-null   int64
 20  AcceptedCmp2          2205 non-null   int64
 21  Complain              2205 non-null   int64
 22  Z_CostContact         2205 non-null   int64
 23  Z_Revenue             2205 non-null   int64
 24  Response              2205 non-null   int64
 25  Age                   2205 non-null   int64
 26  Customer_Days         2205 non-null   int64
 27  marital_Divorced      230 non-null    float64
 28  marital_Married       854 non-null    float64
 29  marital_Single        477 non-null    float64
 30  marital_Together      568 non-null    float64
 31  marital_Widow         76 non-null     float64
 32  education_2n Cycle    198 non-null    float64
 33  education_Basic       54 non-null     float64
 34  education_Graduation  1113 non-null   float64
 35  education_Master      364 non-null    float64
 36  education_PhD         476 non-null    float64
 37  MntTotal              2205 non-null   int64
 38  MntRegularProds       2205 non-null   int64
 39  AcceptedCmpOverall    2205 non-null   int64
 40  marital_status        2205 non-null   object
 41  education_level       2205 non-null   object
 42  kids                  2205 non-null   int64
 43  expenses              2205 non-null   int64
dtypes: float64(11), int64(31), object(2)
memory usage: 758.1+ KB

In [10]:
#Não há valores duplicados
dataframe.duplicated().value_counts()

False    2205
dtype: int64

In [9]:
#Existem valores nulos nessa tabela nas colunas de status civil e educação. Quando a pessoa é casada, por exemplo, os demais ficam com NaN.
#O mesmo acontece no caso de educação. Se uma pessoa tem phD, as demais também ficam com NaN.

dataframe.isnull().sum()

Unnamed: 0                 0
Income                     0
Kidhome                    0
Teenhome                   0
Recency                    0
MntWines                   0
MntFruits                  0
MntMeatProducts            0
MntFishProducts            0
MntSweetProducts           0
MntGoldProds               0
NumDealsPurchases          0
NumWebPurchases            0
NumCatalogPurchases        0
NumStorePurchases          0
NumWebVisitsMonth          0
AcceptedCmp3               0
AcceptedCmp4               0
AcceptedCmp5               0
AcceptedCmp1               0
AcceptedCmp2               0
Complain                   0
Z_CostContact              0
Z_Revenue                  0
Response                   0
Age                        0
Customer_Days              0
marital_Divorced        1975
marital_Married         1351
marital_Single          1728
marital_Together        1637
marital_Widow           2129
education_2n Cycle      2007
education_Basic         2151
education_Graduation    1092
education_Master        1841
education_PhD           1729
MntTotal                   0
MntRegularProds            0
AcceptedCmpOverall         0
marital_status             0
education_level            0
kids                       0
expenses                   0
dtype: int64

In [26]:
#Checando novamente todas as colunas para confirmar a situação daquelas que possuem NaN
#Como elas repetem informações, elas poderiam ser dropadas. No lugar, usaríamos as informações de marital_status e education_level.
pd.set_option('display.max_columns', None)
df = dataframe.drop(columns = ['education_Basic', 'education_2n Cycle', 'education_Graduation','education_Master', 'education_PhD', 'marital_Divorced', 'marital_Married', 'marital_Single', 'marital_Together', 'marital_Widow'])

In [27]:
#Verificando a exclusão das colunas
df.head()

,Unnamed: 0,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response,Age,Customer_Days,MntTotal,MntRegularProds,AcceptedCmpOverall,marital_status,education_level,kids,expenses
0,0,58138.0,0,0,58,635,88,546,172,88,88,3,8,10,4,7,0,0,0,0,0,0,3,11,1,63,2822,1529,1441,0,Single,Graduation,0,1529
1,1,46344.0,1,1,38,11,1,6,2,1,6,2,1,1,2,5,0,0,0,0,0,0,3,11,0,66,2272,21,15,0,Single,Graduation,2,21
2,2,71613.0,0,0,26,426,49,127,111,21,42,1,8,2,10,4,0,0,0,0,0,0,3,11,0,55,2471,734,692,0,Together,Graduation,0,734
3,3,26646.0,1,0,26,11,4,20,10,3,5,2,2,0,4,6,0,0,0,0,0,0,3,11,0,36,2298,48,43,0,Together,Graduation,1,48
4,4,58293.0,1,0,94,173,43,118,46,27,15,5,5,3,6,5,0,0,0,0,0,0,3,11,0,39,2320,407,392,0,Married,PhD,1,407

In [30]:
#Mostrando os valores de média, mediana, 25 percentil, 75 percentil, mínimo e máximo de cada uma das colunas numéricas

df.describe()

,Unnamed: 0,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response,Age,Customer_Days,MntTotal,MntRegularProds,AcceptedCmpOverall,kids,expenses
count,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.0,2205.0,2205.00000,2205.000000,2205.000000,2205.000000,2205.000000,2205.00000,2205.000000,2205.000000
mean,1102.000000,51622.094785,0.442177,0.506576,49.009070,306.164626,26.403175,165.312018,37.756463,27.128345,44.057143,2.318367,4.100680,2.645351,5.823583,5.336961,0.073923,0.074376,0.073016,0.064399,0.013605,0.009070,3.0,11.0,0.15102,51.095692,2512.718367,562.764626,518.707483,0.29932,0.948753,562.764626
std,636.672993,20713.063826,0.537132,0.544380,28.932111,337.493839,39.784484,217.784507,54.824635,41.130468,51.736211,1.886107,2.737424,2.798647,3.241796,2.413535,0.261705,0.262442,0.260222,0.245518,0.115872,0.094827,0.0,0.0,0.35815,11.705801,202.563647,575.936911,553.847248,0.68044,0.749231,575.936911
min,0.000000,1730.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.00000,24.000000,2159.000000,4.000000,-283.000000,0.00000,0.000000,4.000000
25%,551.000000,35196.000000,0.000000,0.000000,24.000000,24.000000,2.000000,16.000000,3.000000,1.000000,9.000000,1.000000,2.000000,0.000000,3.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.00000,43.000000,2339.000000,56.000000,42.000000,0.00000,0.000000,56.000000
50%,1102.000000,51287.000000,0.000000,0.000000,49.000000,178.000000,8.000000,68.000000,12.000000,8.000000,25.000000,2.000000,4.000000,2.000000,5.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.00000,50.000000,2515.000000,343.000000,288.000000,0.00000,1.000000,343.000000
75%,1653.000000,68281.000000,1.000000,1.000000,74.000000,507.000000,33.000000,232.000000,50.000000,34.000000,56.000000,3.000000,6.000000,4.000000,8.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.00000,61.000000,2688.000000,964.000000,884.000000,0.00000,1.000000,964.000000
max,2204.000000,113734.000000,2.000000,2.000000,99.000000,1493.000000,199.000000,1725.000000,259.000000,262.000000,321.000000,15.000000,27.000000,28.000000,13.000000,20.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.0,11.0,1.00000,80.000000,2858.000000,2491.000000,2458.000000,4.00000,3.000000,2491.000000